@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700');

$font-stack: 'Palanquin Dark', sans-serif;
$h1-size: 72px;
$h2-size: 48px;
$h3-size: 28px;
$h4-size: 24px;

$gray: #CECECE;

$team-primary-colors: (
  dbacks: #A71930,
  braves: #002456,
  orioles: #000000,
  redsox: #D60020,
  cubs: #002F6C,
  whitesox: #27261F,
  reds: #E70019,
  indians: #0E203F,
  rockies: #372C67,
  tigers: #0A2141,
  astros: #002863,
  royals: #004089,
  angels: #CA0000,
  dodgers: #04286D,
  marlins: #000000,
  brewers: #12274C,
  twins: #0A2142,
  mets: #092474,
  yankees: #172247,
  as: #003B32,
  phillies: #CA001D,
  pirates: #FFC900,
  cardinals: #CA001D,
  padres: #002863,
  giants: #27261F,
  mariners: #004467,
  rays: #09275D,
  rangers: #004286,
  bluejays: #104490,
  nationals: #C90016
  );

$team-secondary-colors: (
  dbacks: #000000,
  braves: #CA001D,
  orioles: #FF0F00,
  redsox: #0A2141,
  cubs: #C8102E,
  whitesox: #898D8F,
  reds: #000000,
  indians: #E70017,
  rockies: #C2CED5,
  tigers: #FF0000,
  astros: #FA5E00,
  royals: #C59A54,
  angels: #002E64,
  dodgers: #FF002D,
  marlins: #FF4C00,
  brewers: #87714A,
  twins: #CA001C,
  mets: #FF6B16,
  yankees: #97999B,
  as: #F6B200,
  phillies: #004C9D,
  pirates: #27261F,
  cardinals: #0A2141,
  padres: #9EAAB3,
  giants: #FF0000,
  mariners: #006C5F,
  rays: #88BBE9,
  rangers: #DE0033,
  bluejays: #EB0000,
  nationals: #041A43
  );

@mixin team-colors($team) {
  background: map-get($team-primary-colors, $team);

  #heading {
    border-bottom: solid 15px map-get($team-secondary-colors, $team);
  }
  .slick-dots .slick-active svg, .slick-dots svg:hover, .slick-arrow svg:hover {
    color: map-get($team-primary-colors, $team);
  }
}

h1 {
  font-size: $h1-size;
  line-height: 72px;
}
h2 {
  font-size: $h2-size;
  line-height: 52px;
  margin: 0px;
}
h3 {
  font-size: $h3-size;
  line-height: 30px;

  @media screen and (max-width: 750px){
    font-size: 24px;
  }
}
h4 {
  font-size: $h4-size;
  padding: 5px;
  margin: 0px;

  @media screen and (max-width: 950px){
    font-size: 20px;
  }
}
h5 {
  margin: 0px;
  font-style: italic;
  text-transform: capitalize;
  font-size: 18px;
  color: #c5c5c5;
  font-weight: normal;
}
body {
  margin: 0px;
  color: #2d2d2d;
}

.team-131 {
  @include team-colors(cubs);
}
.team-140 {
  @include team-colors(dbacks);
}
.team-130 {
  @include team-colors(braves);
}
.team-111 {
  @include team-colors(orioles);
}
.team-113 {
  @include team-colors(redsox);
}
.team-119 {
  @include team-colors(whitesox);
}
.team-135 {
  @include team-colors(reds);
}
.team-138 {
  @include team-colors(rockies);
}
.team-117 {
  @include team-colors(tigers);
}
.team-122 {
  @include team-colors(astros);
}
.team-118 {
  @include team-colors(royals);
}
.team-124 {
  @include team-colors(angels);
}
.team-137 {
  @include team-colors(dodgers);
}
.team-128 {
  @include team-colors(marlins);
}
.team-134 {
  @include team-colors(brewers);
}
.team-120 {
  @include team-colors(twins);
}
.team-127 {
  @include team-colors(mets);
}
.team-114 {
  @include team-colors(yankees);
}
.team-125 {
  @include team-colors(as);
}
.team-129 {
  @include team-colors(phillies);
}
.team-132 {
  @include team-colors(pirates);
}
.team-139 {
  @include team-colors(padres);
}
.team-136 {
  @include team-colors(giants);
}
.team-123 {
  @include team-colors(mariners);
}
.team-133 {
  @include team-colors(cardinals);
}
.team-115 {
  @include team-colors(rays);
}
.team-121 {
  @include team-colors(rangers);
}
.team-112 {
  @include team-colors(bluejays);
}
.team-126 {
  @include team-colors(nationals);
}
.team-116 {
  @include team-colors(indians);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-family: $font-stack;
  text-transform: uppercase;
  background: url(../img/bg.jpg);
  border-right: solid #2d2d2d;
  border-left: solid #2d2d2d;
  min-height: 100%;
  padding-bottom: 50px;
  @media screen and (max-width: 1024px){
    border-left: 0px;
    border-right: 0px;
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr 1fr;
  }
}

#heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: white;
  grid-column: 1 / span 4;
  border-bottom: solid 10px #ce3c2f;
  padding: 15px 30px;
  img {
    height: auto;
    width: auto;
    max-width: 175px;
    max-height: 175px;
  }
  h1 {
    padding: 15px;
    margin: 15px;
  }
  h2 {
    margin-top: 15px;
  }
  #date {
    margin-left: auto;
  }
  @media (max-width: 950px){
    justify-content: center;

    #date {
      width: 100%;
    }
  }
  @media (max-width: 750px){

    h1 {
      font-size: $h2-size - 12px;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
    #date {
      margin-left: 0px;

      h2 {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
  @media (max-width: 650px){
    grid-column: span 2;
    h1 {
      font-size: $h2-size;
    }
  }
  @media (max-width: 525px){
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
}

#today, #yesterday {
  margin: 0px 25px;
  @media (max-width: 525px){
    h2 {
      font-size: $h3-size;
    }
  }
}
.games {
  grid-column: span 2;
}
.game, .game2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px $gray;
  padding: 0px 15px;
  text-align: center;
  margin-bottom: 15px;
  min-height: 111px;

  @media screen and (max-width: 850px){
    flex-wrap: wrap;
  }
  @media screen and (max-width: 650px){
    flex-wrap: nowrap;
  }
  @media screen and (max-width: 450px){
    flex-wrap: wrap;
  }
}
.game2 {
  display: none;
}
.time h1, .WL h1{
  margin: 10px;
  font-weight: 400;
  min-width: 160px;

  @media screen and (max-width: 950px){
    min-width: 125px;
    font-size: 48px;
    line-height: 48px;
  }

  span {
    font-size: 24px;
    vertical-align: top;
  }
}
.time h1 {
  font-size: 56px;
}

.double {
  display: none;
}

.teams {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100%;
  h4 {
    font-weight: 400;
    margin: 0px;
    text-transform: none;
  }
  .away {
    border-bottom: solid 3px $gray;
  }
  .away, .home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    img {
      max-width: 30px;
    }
  }
}
#teamForm {
  h3 {
    margin: 10px;
  }
}
select {
  width: 285px;
  font-size: 20px;
  border: solid 2px $gray;
  background: #fbfbfb;
  font-family: $font-stack;
}

.standings {
  grid-column: 1 / span 4;
  > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: 0;
    h5 {
      color: #585858;
      margin: 0px 5px;
      padding: 0px 5px;
    }
    .wins-losses {
      margin-left: auto;
    }
  }
  > div {
    background: white;
    border: solid $gray 2px;
    margin: 0px 25px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-transform: none;
      border-bottom: solid 2px $gray;
    }
    div:last-child {
      border-bottom: 0px;
    }
  }
  img {
    max-width: 30px;
  }
  h4 {
    margin: 0px 5px;
    font-weight: normal;
  }
  .wins-losses {
    margin-left: auto;
    min-width: 85px;
    text-align: right;
  }
  .rank {
    font-weight: bold;
  }
  .win-pct, .games-back {
    min-width: 55px;
    text-align: right;

    @media screen and (max-width: 650px){
      min-width: 35px;
    }
  }
  .team-abbr {
    display: none;
  }

  @media screen and (max-width: 650px) {
    grid-column: span 2;

    .team-abbr {
      display: block;
    }
    .team-name {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    img {
      display: none;
    }
    .wins-losses {
      min-width: 50px;
    }
    h4 {
      font-size: 18px;
    }
  }
}

.stats {
  background-color: white;
  border: solid 2px $gray;
  padding: 0px 15px;
  text-align: center;
  //margin-bottom: 15px;
  margin: 0px 25px;
}

.player-stats {
  grid-column: span 2;
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: none;
    border-top: 0px;

      &:nth-child(2) {
        border-top: solid 2px $gray;
      }

      h4 {
      font-weight: normal;

      &:nth-child(3){
        margin-left: auto;
      }
    }
  }
}

#last10, #streak, #home-record, #away-record {
  margin-top: 25px;
}

.team-news {
  grid-column: 1 / span 4;

  @media screen and (max-width: 650px) {
    grid-column: span 2;
  }
  h3 {
    margin-bottom: 0px;
    margin-top: 50px;
  }
  h5 a {
    color: #a8a8a8;
    &:hover {
      color: darken(#a8a8a8, 10%);
    }
  }
}

.news-carousel {
  grid-column: 1 / span 4;

  @media screen and (max-width: 650px) {
    grid-column: span 2;
  }

  .news {
    margin: 10px 25px;
    background: white;
    border: solid 2px $gray;
    min-height: 280px;
    display: flex;
    flex-direction: column;

    &:hover {
      border: solid 2px darken($gray, 20%);
    }

  }
  img {
    max-width: 100%;
    overflow: hidden;
    min-height: 100%;
    pointer-events:none;
  }
  .img {
    height: 165px;
    overflow: hidden;
  }
  h4 {
    font-weight: normal;
    text-transform: none;
    line-height: 1.1em;
    font-size: 20px;
  }
  .source {
    margin-top: auto;
    text-align: right;
    margin-right: 10px;
    text-transform: lowercase;
    font-style: 16px;
  }
  .slick-dots {
  padding-left: 0px;

    li {
      display: inline-block;
    }
  }
  a {
    text-decoration: none;
    color: #2d2d2d;
  }
  button {
    background: transparent;
    border: none;

    &:focus {outline:0;}
  }
  .slick-arrow svg {
    height: 24px;
    width: 24px;
    color: darken($gray, 15%);

    &:hover {
      cursor: pointer;
    }
  }
}

.slick-dots svg {
  color: $gray;

  &:hover {
    cursor: pointer;
  }
}

.placeholders {
  .time, .WL {
    h1 {
      color: $gray;
    }
  }
  .teams, .standings {
    h4 {
      color: $gray;
    }
    .away {
    border-bottom: solid 3px $gray;
    }
  }
  .stats {
    color: $gray;
  }
}