@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
h1 {
  font-size: 72px;
  line-height: 72px; }

h2 {
  font-size: 48px;
  line-height: 52px;
  margin: 0px; }

h3 {
  font-size: 28px;
  line-height: 30px; }
  @media screen and (max-width: 750px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 24px;
  padding: 5px;
  margin: 0px; }
  @media screen and (max-width: 950px) {
    h4 {
      font-size: 20px; } }

h5 {
  margin: 0px;
  font-style: italic;
  text-transform: capitalize;
  font-size: 18px;
  color: #c5c5c5;
  font-weight: normal; }

body {
  margin: 0px;
  color: #2d2d2d; }

.team-131 {
  background: #002F6C; }
  .team-131 #heading {
    border-bottom: solid 15px #C8102E; }

.team-140 {
  background: #A71930; }
  .team-140 #heading {
    border-bottom: solid 15px #000000; }

.team-130 {
  background: #002456; }
  .team-130 #heading {
    border-bottom: solid 15px #CA001D; }

.team-111 {
  background: #000000; }
  .team-111 #heading {
    border-bottom: solid 15px #FF0F00; }

.team-113 {
  background: #D60020; }
  .team-113 #heading {
    border-bottom: solid 15px #0A2141; }

.team-119 {
  background: #27261F; }
  .team-119 #heading {
    border-bottom: solid 15px #898D8F; }

.team-135 {
  background: #E70019; }
  .team-135 #heading {
    border-bottom: solid 15px #000000; }

.team-138 {
  background: #372C67; }
  .team-138 #heading {
    border-bottom: solid 15px #C2CED5; }

.team-117 {
  background: #0A2141; }
  .team-117 #heading {
    border-bottom: solid 15px #FF0000; }

.team-122 {
  background: #002863; }
  .team-122 #heading {
    border-bottom: solid 15px #FA5E00; }

.team-118 {
  background: #004089; }
  .team-118 #heading {
    border-bottom: solid 15px #C59A54; }

.team-124 {
  background: #CA0000; }
  .team-124 #heading {
    border-bottom: solid 15px #002E64; }

.team-137 {
  background: #04286D; }
  .team-137 #heading {
    border-bottom: solid 15px #FF002D; }

.team-128 {
  background: #000000; }
  .team-128 #heading {
    border-bottom: solid 15px #FF4C00; }

.team-134 {
  background: #12274C; }
  .team-134 #heading {
    border-bottom: solid 15px #87714A; }

.team-120 {
  background: #0A2142; }
  .team-120 #heading {
    border-bottom: solid 15px #CA001C; }

.team-127 {
  background: #092474; }
  .team-127 #heading {
    border-bottom: solid 15px #FF6B16; }

.team-114 {
  background: #172247; }
  .team-114 #heading {
    border-bottom: solid 15px #97999B; }

.team-125 {
  background: #003B32; }
  .team-125 #heading {
    border-bottom: solid 15px #F6B200; }

.team-129 {
  background: #CA001D; }
  .team-129 #heading {
    border-bottom: solid 15px #004C9D; }

.team-132 {
  background: #FFC900; }
  .team-132 #heading {
    border-bottom: solid 15px #27261F; }

.team-139 {
  background: #002863; }
  .team-139 #heading {
    border-bottom: solid 15px #9EAAB3; }

.team-136 {
  background: #27261F; }
  .team-136 #heading {
    border-bottom: solid 15px #FF0000; }

.team-123 {
  background: #004467; }
  .team-123 #heading {
    border-bottom: solid 15px #006C5F; }

.team-133 {
  background: #CA001D; }
  .team-133 #heading {
    border-bottom: solid 15px #0A2141; }

.team-115 {
  background: #09275D; }
  .team-115 #heading {
    border-bottom: solid 15px #88BBE9; }

.team-121 {
  background: #004286; }
  .team-121 #heading {
    border-bottom: solid 15px #DE0033; }

.team-112 {
  background: #104490; }
  .team-112 #heading {
    border-bottom: solid 15px #EB0000; }

.team-126 {
  background: #C90016; }
  .team-126 #heading {
    border-bottom: solid 15px #041A43; }

.team-116 {
  background: #0E203F; }
  .team-116 #heading {
    border-bottom: solid 15px #E70017; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-family: "Palanquin Dark", sans-serif;
  text-transform: uppercase;
  background: url(../img/bg.jpg);
  border-right: solid #2d2d2d;
  border-left: solid #2d2d2d;
  min-height: 100%;
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .container {
      border-left: 0px;
      border-right: 0px; } }
  @media screen and (max-width: 650px) {
    .container {
      grid-template-columns: 1fr 1fr; } }

#heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: white;
  grid-column: 1 / span 4;
  border-bottom: solid 10px #ce3c2f;
  padding: 15px 30px; }
  #heading img {
    height: auto;
    width: auto;
    max-width: 175px;
    max-height: 175px; }
  #heading h1 {
    padding: 15px;
    margin: 15px; }
  #heading h2 {
    margin-top: 15px; }
  #heading #date {
    margin-left: auto; }
  @media (max-width: 950px) {
    #heading {
      justify-content: center; }
      #heading #date {
        width: 100%; } }
  @media (max-width: 750px) {
    #heading h1 {
      font-size: 36px; }
    #heading img {
      max-width: 100px;
      max-height: 100px; }
    #heading #date {
      margin-left: 0px; }
      #heading #date h2 {
        font-size: 32px;
        line-height: 32px; } }
  @media (max-width: 650px) {
    #heading {
      grid-column: span 2; }
      #heading h1 {
        font-size: 48px; } }
  @media (max-width: 525px) {
    #heading img {
      max-width: 50px;
      max-height: 50px; } }

#today, #yesterday {
  margin: 0px 25px; }
  @media (max-width: 525px) {
    #today h2, #yesterday h2 {
      font-size: 28px; } }

.games {
  grid-column: span 2; }

.game, .game2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px #cecece;
  padding: 0px 15px;
  text-align: center;
  margin-bottom: 15px; }
  @media screen and (max-width: 850px) {
    .game, .game2 {
      flex-wrap: wrap; } }
  @media screen and (max-width: 650px) {
    .game, .game2 {
      flex-wrap: nowrap; } }
  @media screen and (max-width: 450px) {
    .game, .game2 {
      flex-wrap: wrap; } }

.game2 {
  display: none; }

.time h1, .WL h1 {
  margin: 10px;
  font-weight: 400;
  min-width: 160px; }
  @media screen and (max-width: 950px) {
    .time h1, .WL h1 {
      min-width: 125px;
      font-size: 48px;
      line-height: 48px; } }
  .time h1 span, .WL h1 span {
    font-size: 24px;
    vertical-align: top; }

.double {
  display: none; }

.teams {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100%; }
  .teams h4 {
    font-weight: 400;
    margin: 0px;
    text-transform: none; }
  .teams .away {
    border-bottom: solid 3px #cecece; }
  .teams .away, .teams .home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .teams .away img, .teams .home img {
      max-width: 30px; }

#teamForm h3 {
  margin: 10px; }

select {
  width: 285px;
  font-size: 20px;
  border: solid 2px #cecece;
  background: #fbfbfb;
  font-family: "Palanquin Dark", sans-serif; }

.standings {
  grid-column: 1 / span 4; }
  .standings > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: 0; }
    .standings > div:first-of-type h5 {
      color: #585858;
      margin: 0px 5px;
      padding: 0px 5px; }
    .standings > div:first-of-type .wins-losses {
      margin-left: auto; }
  .standings > div {
    background: white;
    border: solid #cecece 2px;
    margin: 0px 25px; }
    .standings > div div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-transform: none;
      border-bottom: solid 2px #cecece; }
    .standings > div div:last-child {
      border-bottom: 0px; }
  .standings img {
    max-width: 30px; }
  .standings h4 {
    margin: 0px 5px;
    font-weight: normal; }
  .standings .wins-losses {
    margin-left: auto;
    min-width: 85px;
    text-align: right; }
  .standings .rank {
    font-weight: bold; }
  .standings .win-pct, .standings .games-back {
    min-width: 55px;
    text-align: right; }
    @media screen and (max-width: 650px) {
      .standings .win-pct, .standings .games-back {
        min-width: 35px; } }
  .standings .team-abbr {
    display: none; }
  @media screen and (max-width: 650px) {
    .standings {
      grid-column: span 2; }
      .standings .team-abbr {
        display: block; }
      .standings .team-name {
        display: none; } }
  @media screen and (max-width: 400px) {
    .standings img {
      display: none; }
    .standings .wins-losses {
      min-width: 50px; }
    .standings h4 {
      font-size: 18px; } }

.stats {
  background-color: white;
  border: solid 2px #cecece;
  padding: 0px 15px;
  text-align: center;
  margin-bottom: 15px;
  margin: 0px 25px; }

.player-stats {
  grid-column: span 2; }
  .player-stats .stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: none;
    border-bottom: solid 2px #cecece; }
  .player-stats h4 {
    font-weight: normal; }
    .player-stats h4:nth-child(4) {
      margin-left: auto; }

/*# sourceMappingURL=bball.css.map */
