@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
h1 {
  font-size: 72px;
  line-height: 72px; }

h2 {
  font-size: 48px;
  line-height: 52px;
  margin: 0px; }

h3 {
  font-size: 28px;
  line-height: 30px; }
  @media screen and (max-width: 750px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 24px;
  padding: 5px;
  margin: 0px; }
  @media screen and (max-width: 950px) {
    h4 {
      font-size: 20px; } }

h5 {
  margin: 0px;
  font-style: italic;
  text-transform: capitalize;
  font-size: 18px;
  color: #c5c5c5;
  font-weight: normal; }

body {
  margin: 0px;
  color: #2d2d2d;
  position: relative; }

body:after {
  content: "";
  background: url(../img/baseball.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  height: 100%; }

.team-131 {
  background: #002F6C; }
  .team-131 #heading {
    border-bottom: solid 15px #C8102E; }
  .team-131 .slick-dots .slick-active svg, .team-131 .slick-dots svg:hover, .team-131 .slick-arrow svg:hover {
    color: #002F6C; }

.team-140 {
  background: #A71930; }
  .team-140 #heading {
    border-bottom: solid 15px #000000; }
  .team-140 .slick-dots .slick-active svg, .team-140 .slick-dots svg:hover, .team-140 .slick-arrow svg:hover {
    color: #A71930; }

.team-130 {
  background: #002456; }
  .team-130 #heading {
    border-bottom: solid 15px #CA001D; }
  .team-130 .slick-dots .slick-active svg, .team-130 .slick-dots svg:hover, .team-130 .slick-arrow svg:hover {
    color: #002456; }

.team-111 {
  background: #000000; }
  .team-111 #heading {
    border-bottom: solid 15px #FF0F00; }
  .team-111 .slick-dots .slick-active svg, .team-111 .slick-dots svg:hover, .team-111 .slick-arrow svg:hover {
    color: #000000; }

.team-113 {
  background: #D60020; }
  .team-113 #heading {
    border-bottom: solid 15px #0A2141; }
  .team-113 .slick-dots .slick-active svg, .team-113 .slick-dots svg:hover, .team-113 .slick-arrow svg:hover {
    color: #D60020; }

.team-119 {
  background: #27261F; }
  .team-119 #heading {
    border-bottom: solid 15px #898D8F; }
  .team-119 .slick-dots .slick-active svg, .team-119 .slick-dots svg:hover, .team-119 .slick-arrow svg:hover {
    color: #27261F; }

.team-135 {
  background: #E70019; }
  .team-135 #heading {
    border-bottom: solid 15px #000000; }
  .team-135 .slick-dots .slick-active svg, .team-135 .slick-dots svg:hover, .team-135 .slick-arrow svg:hover {
    color: #E70019; }

.team-138 {
  background: #372C67; }
  .team-138 #heading {
    border-bottom: solid 15px #C2CED5; }
  .team-138 .slick-dots .slick-active svg, .team-138 .slick-dots svg:hover, .team-138 .slick-arrow svg:hover {
    color: #372C67; }

.team-117 {
  background: #0A2141; }
  .team-117 #heading {
    border-bottom: solid 15px #FF0000; }
  .team-117 .slick-dots .slick-active svg, .team-117 .slick-dots svg:hover, .team-117 .slick-arrow svg:hover {
    color: #0A2141; }

.team-122 {
  background: #002863; }
  .team-122 #heading {
    border-bottom: solid 15px #FA5E00; }
  .team-122 .slick-dots .slick-active svg, .team-122 .slick-dots svg:hover, .team-122 .slick-arrow svg:hover {
    color: #002863; }

.team-118 {
  background: #004089; }
  .team-118 #heading {
    border-bottom: solid 15px #C59A54; }
  .team-118 .slick-dots .slick-active svg, .team-118 .slick-dots svg:hover, .team-118 .slick-arrow svg:hover {
    color: #004089; }

.team-124 {
  background: #CA0000; }
  .team-124 #heading {
    border-bottom: solid 15px #002E64; }
  .team-124 .slick-dots .slick-active svg, .team-124 .slick-dots svg:hover, .team-124 .slick-arrow svg:hover {
    color: #CA0000; }

.team-137 {
  background: #04286D; }
  .team-137 #heading {
    border-bottom: solid 15px #FF002D; }
  .team-137 .slick-dots .slick-active svg, .team-137 .slick-dots svg:hover, .team-137 .slick-arrow svg:hover {
    color: #04286D; }

.team-128 {
  background: #000000; }
  .team-128 #heading {
    border-bottom: solid 15px #FF4C00; }
  .team-128 .slick-dots .slick-active svg, .team-128 .slick-dots svg:hover, .team-128 .slick-arrow svg:hover {
    color: #000000; }

.team-134 {
  background: #12274C; }
  .team-134 #heading {
    border-bottom: solid 15px #87714A; }
  .team-134 .slick-dots .slick-active svg, .team-134 .slick-dots svg:hover, .team-134 .slick-arrow svg:hover {
    color: #12274C; }

.team-120 {
  background: #0A2142; }
  .team-120 #heading {
    border-bottom: solid 15px #CA001C; }
  .team-120 .slick-dots .slick-active svg, .team-120 .slick-dots svg:hover, .team-120 .slick-arrow svg:hover {
    color: #0A2142; }

.team-127 {
  background: #092474; }
  .team-127 #heading {
    border-bottom: solid 15px #FF6B16; }
  .team-127 .slick-dots .slick-active svg, .team-127 .slick-dots svg:hover, .team-127 .slick-arrow svg:hover {
    color: #092474; }

.team-114 {
  background: #172247; }
  .team-114 #heading {
    border-bottom: solid 15px #97999B; }
  .team-114 .slick-dots .slick-active svg, .team-114 .slick-dots svg:hover, .team-114 .slick-arrow svg:hover {
    color: #172247; }

.team-125 {
  background: #003B32; }
  .team-125 #heading {
    border-bottom: solid 15px #F6B200; }
  .team-125 .slick-dots .slick-active svg, .team-125 .slick-dots svg:hover, .team-125 .slick-arrow svg:hover {
    color: #003B32; }

.team-129 {
  background: #CA001D; }
  .team-129 #heading {
    border-bottom: solid 15px #004C9D; }
  .team-129 .slick-dots .slick-active svg, .team-129 .slick-dots svg:hover, .team-129 .slick-arrow svg:hover {
    color: #CA001D; }

.team-132 {
  background: #FFC900; }
  .team-132 #heading {
    border-bottom: solid 15px #27261F; }
  .team-132 .slick-dots .slick-active svg, .team-132 .slick-dots svg:hover, .team-132 .slick-arrow svg:hover {
    color: #FFC900; }

.team-139 {
  background: #002863; }
  .team-139 #heading {
    border-bottom: solid 15px #9EAAB3; }
  .team-139 .slick-dots .slick-active svg, .team-139 .slick-dots svg:hover, .team-139 .slick-arrow svg:hover {
    color: #002863; }

.team-136 {
  background: #27261F; }
  .team-136 #heading {
    border-bottom: solid 15px #FF0000; }
  .team-136 .slick-dots .slick-active svg, .team-136 .slick-dots svg:hover, .team-136 .slick-arrow svg:hover {
    color: #27261F; }

.team-123 {
  background: #004467; }
  .team-123 #heading {
    border-bottom: solid 15px #006C5F; }
  .team-123 .slick-dots .slick-active svg, .team-123 .slick-dots svg:hover, .team-123 .slick-arrow svg:hover {
    color: #004467; }

.team-133 {
  background: #CA001D; }
  .team-133 #heading {
    border-bottom: solid 15px #0A2141; }
  .team-133 .slick-dots .slick-active svg, .team-133 .slick-dots svg:hover, .team-133 .slick-arrow svg:hover {
    color: #CA001D; }

.team-115 {
  background: #09275D; }
  .team-115 #heading {
    border-bottom: solid 15px #88BBE9; }
  .team-115 .slick-dots .slick-active svg, .team-115 .slick-dots svg:hover, .team-115 .slick-arrow svg:hover {
    color: #09275D; }

.team-121 {
  background: #004286; }
  .team-121 #heading {
    border-bottom: solid 15px #DE0033; }
  .team-121 .slick-dots .slick-active svg, .team-121 .slick-dots svg:hover, .team-121 .slick-arrow svg:hover {
    color: #004286; }

.team-112 {
  background: #104490; }
  .team-112 #heading {
    border-bottom: solid 15px #EB0000; }
  .team-112 .slick-dots .slick-active svg, .team-112 .slick-dots svg:hover, .team-112 .slick-arrow svg:hover {
    color: #104490; }

.team-126 {
  background: #C90016; }
  .team-126 #heading {
    border-bottom: solid 15px #041A43; }
  .team-126 .slick-dots .slick-active svg, .team-126 .slick-dots svg:hover, .team-126 .slick-arrow svg:hover {
    color: #C90016; }

.team-116 {
  background: #0E203F; }
  .team-116 #heading {
    border-bottom: solid 15px #E70017; }
  .team-116 .slick-dots .slick-active svg, .team-116 .slick-dots svg:hover, .team-116 .slick-arrow svg:hover {
    color: #0E203F; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-family: "Palanquin Dark", sans-serif;
  text-transform: uppercase;
  background: url(../img/bg.jpg);
  border-right: solid #2d2d2d;
  border-left: solid #2d2d2d;
  min-height: 100%;
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .container {
      border-left: 0px;
      border-right: 0px; } }
  @media screen and (max-width: 650px) {
    .container {
      grid-template-columns: 1fr 1fr; } }

#heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: white;
  grid-column: 1 / span 4;
  border-bottom: solid 10px #ce3c2f;
  padding: 15px 30px; }
  #heading img {
    height: auto;
    width: auto;
    max-width: 175px;
    max-height: 175px; }
  #heading h1 {
    padding: 15px;
    margin: 15px; }
  #heading h2 {
    margin-top: 15px; }
  #heading #date {
    margin-left: auto; }
  @media (max-width: 950px) {
    #heading {
      justify-content: center; }
      #heading #date {
        width: 100%; } }
  @media (max-width: 750px) {
    #heading h1 {
      font-size: 36px; }
    #heading img {
      max-width: 100px;
      max-height: 100px; }
    #heading #date {
      margin-left: 0px; }
      #heading #date h2 {
        font-size: 32px;
        line-height: 32px; } }
  @media (max-width: 650px) {
    #heading {
      grid-column: span 2; }
      #heading h1 {
        font-size: 48px; } }
  @media (max-width: 525px) {
    #heading img {
      max-width: 50px;
      max-height: 50px; } }

#today, #yesterday {
  margin: 0px 25px; }
  @media (max-width: 525px) {
    #today h2, #yesterday h2 {
      font-size: 28px; } }

.games {
  grid-column: span 2; }

.game, .game2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px #CECECE;
  padding: 0px 15px;
  text-align: center;
  margin-bottom: 15px;
  min-height: 111px; }
  @media screen and (max-width: 850px) {
    .game, .game2 {
      flex-wrap: wrap; } }
  @media screen and (max-width: 650px) {
    .game, .game2 {
      flex-wrap: nowrap; } }
  @media screen and (max-width: 450px) {
    .game, .game2 {
      flex-wrap: wrap; } }

.game2 {
  display: none; }

.time h1, .WL h1 {
  margin: 10px;
  font-weight: 400;
  min-width: 160px; }
  @media screen and (max-width: 950px) {
    .time h1, .WL h1 {
      min-width: 125px;
      font-size: 48px;
      line-height: 48px; } }
  .time h1 span, .WL h1 span {
    font-size: 24px;
    vertical-align: top; }

.time h1 {
  font-size: 56px; }

.double {
  display: none; }

.teams {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100%; }
  .teams h4 {
    font-weight: 400;
    margin: 0px;
    text-transform: none; }
  .teams .away {
    border-bottom: solid 3px #CECECE; }
  .teams .away, .teams .home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .teams .away img, .teams .home img {
      max-width: 30px; }

#teamForm h3 {
  margin: 10px; }

select {
  width: 285px;
  font-size: 20px;
  border: solid 2px #CECECE;
  background: #fbfbfb;
  font-family: "Palanquin Dark", sans-serif; }

.standings {
  grid-column: 1 / span 4; }
  .standings > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: 0; }
    .standings > div:first-of-type h5 {
      color: #585858;
      margin: 0px 5px;
      padding: 0px 5px; }
    .standings > div:first-of-type .wins-losses {
      margin-left: auto; }
  .standings > div {
    background: white;
    border: solid #CECECE 2px;
    margin: 0px 25px; }
    .standings > div div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-transform: none;
      border-bottom: solid 2px #CECECE; }
    .standings > div div:last-child {
      border-bottom: 0px; }
  .standings img {
    max-width: 30px; }
  .standings h4 {
    margin: 0px 5px;
    font-weight: normal; }
  .standings .wins-losses {
    margin-left: auto;
    min-width: 85px;
    text-align: right; }
  .standings .rank {
    font-weight: bold; }
  .standings .win-pct, .standings .games-back {
    min-width: 55px;
    text-align: right; }
    @media screen and (max-width: 650px) {
      .standings .win-pct, .standings .games-back {
        min-width: 35px; } }
  .standings .team-abbr {
    display: none; }
  @media screen and (max-width: 650px) {
    .standings {
      grid-column: span 2; }
      .standings .team-abbr {
        display: block; }
      .standings .team-name {
        display: none; } }
  @media screen and (max-width: 400px) {
    .standings img {
      display: none; }
    .standings .wins-losses {
      min-width: 50px; }
    .standings h4 {
      font-size: 18px; } }

.stats {
  background-color: white;
  border: solid 2px #CECECE;
  padding: 0px 15px;
  text-align: center;
  margin: 0px 25px; }

.player-stats {
  grid-column: span 2; }
  .player-stats .stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: none;
    border-top: 0px; }
    .player-stats .stats:nth-child(2) {
      border-top: solid 2px #CECECE; }
    .player-stats .stats h4 {
      font-weight: normal; }
      .player-stats .stats h4:nth-child(3) {
        margin-left: auto; }

#last10, #streak, #home-record, #away-record {
  margin-top: 25px; }

.team-news {
  grid-column: 1 / span 4; }
  @media screen and (max-width: 650px) {
    .team-news {
      grid-column: span 2; } }
  .team-news h3 {
    margin-bottom: 0px;
    margin-top: 50px; }
  .team-news h5 a {
    color: #a8a8a8; }
    .team-news h5 a:hover {
      color: #8f8f8f; }

.news-carousel {
  grid-column: 1 / span 4; }
  @media screen and (max-width: 650px) {
    .news-carousel {
      grid-column: span 2; } }
  .news-carousel .news {
    margin: 10px 25px;
    background: white;
    border: solid 2px #CECECE;
    min-height: 280px;
    display: flex;
    flex-direction: column; }
    .news-carousel .news:hover {
      border: solid 2px #9b9b9b; }
  .news-carousel img {
    max-width: 100%;
    overflow: hidden;
    min-height: 100%;
    pointer-events: none; }
  .news-carousel .img {
    height: 165px;
    overflow: hidden; }
  .news-carousel h4 {
    font-weight: normal;
    text-transform: none;
    line-height: 1.1em;
    font-size: 20px; }
  .news-carousel .source {
    margin-top: auto;
    text-align: right;
    margin-right: 10px;
    text-transform: lowercase;
    font-style: 16px; }
  .news-carousel .slick-dots {
    padding-left: 0px; }
    .news-carousel .slick-dots li {
      display: inline-block; }
  .news-carousel a {
    text-decoration: none;
    color: #2d2d2d; }
  .news-carousel button {
    background: transparent;
    border: none; }
    .news-carousel button:focus {
      outline: 0; }
  .news-carousel .slick-arrow svg {
    height: 24px;
    width: 24px;
    color: #a8a8a8; }
    .news-carousel .slick-arrow svg:hover {
      cursor: pointer; }

.slick-dots svg {
  color: #CECECE; }
  .slick-dots svg:hover {
    cursor: pointer; }

.placeholders .time h1, .placeholders .WL h1 {
  color: #CECECE; }
.placeholders .teams h4, .placeholders .standings h4 {
  color: #CECECE; }
.placeholders .teams .away, .placeholders .standings .away {
  border-bottom: solid 3px #CECECE; }
.placeholders .stats {
  color: #CECECE; }

.error-alert {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  background: #2d2d2da1;
  height: 100%; }
  .error-alert .box {
    min-height: 50px;
    background: white;
    display: inline-block;
    margin-top: 50px;
    border: solid 2px;
    font-weight: normal;
    padding: 15px; }
    .error-alert .box h4 {
      text-transform: none;
      font-weight: normal;
      margin-top: -25px; }
  .error-alert .close-error {
    text-align: right; }
    .error-alert .close-error svg {
      font-size: 32px; }
      .error-alert .close-error svg:hover {
        cursor: pointer; }

.season-over {
  grid-column: 1 / span 4;
  margin: 50px 25px; }

/*# sourceMappingURL=bball.css.map */
