@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans');

@mixin flex-center(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
}

$sansFont: 'Open Sans', sans-serif;
$styledFont: 'Amatic SC', cursive;
$night-color: #ffffff;
$night-one: #13344a;
$mid-night: #202D51;
$night-two: #332858;
$day-one: #d5e7f0;
$mid-day: #B4DAED;
$day-two: #91cdea;
$day-color: desaturate(darken($mid-day, 50%), 30%);


body {
  margin: 0px;
  overflow: hidden;
  font-family: $sansFont;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.container {
  min-height: 100vh;
  @include flex-center();
  overflow: hidden;
  position: relative;
  h2 {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

.night {
  background-image: linear-gradient(-25deg, $night-one 0%, $night-two 100%);
  color: $night-color;

  span {
  	background: $night-color;;
  	position: absolute;
  	border-radius: 50%;

  	@for $i from 0 through 100 {
  		$size: random(4) + px;
  		&:nth-child(#{$i}) {
  			width: $size;
  			height: $size;
  			top: random(100) + vh;
  			left: random(100) + vw;
        opacity: random(5)*.1 +.5;
  			animation: twinkle 10s random(30) + s infinite;
  		}
  	}
  }
}

.day {
  background-image: linear-gradient(-25deg, $day-one 0%, $day-two 100%);
  color: $day-color;

  .breathe {
    border: 5px solid darken($mid-day, 1%);
    background: lighten(transparentize($mid-day, .5), 10%);
    color: $day-color;
  }
}

.breathe {
  width: 35vh;
  height: 35vh;
  padding: 20px;
  border: 5px solid darken($mid-night, 1%);
  animation: breathing 10s ease-out infinite normal;
  font-size: 24px;
  background: lighten(transparentize($mid-night, .7), 10%);
  color: $night-color;;
  -webkit-font-smoothing: antialiased;
  border-radius: 1000px;
  text-align: center;
  margin-bottom: 50px;
  @include flex-center();

  h3 {
    font-family: $styledFont;
    font-size: 2em;
  }
}

.cloud {
  position: absolute;

  @for $i from 0 through 16 {
    &:nth-child(#{$i}) {
      opacity: .3;
      transform: scale(random(10)/30 + 1);
      animation: float random(3) * 60 + s random(30) + s infinite;
      margin-left: 10%;

      img {
        width: random(15) + 50 + vw;
        animation: shift random(10) + 10 + s infinite;
      }
    }
    &.cloud-even:nth-child(#{$i}) {
      transform: scale(random(10)/30 + 1) rotateY(180deg);
      top: percentage(random(100) / 100);
      left: percentage(random(100) / 100);
    }
    &.cloud-odd:nth-child(#{$i}) {
      bottom: percentage(random(100) / 100);
      right: percentage(random(100) / 100);
    }
  }
}

.floater {
  position: absolute;
  bottom: 25px;
  left: 0px;
  margin-bottom: 2%;
  animation: float 120s infinite;

  img {
    width: 60px;
    animation: bounce 3s infinite;
  }
}

.day .astronaut {
  display: none;
}
.night {
  .butterfly, .clouds {
    display: none;
  }
}

.quote {
  z-index: 10;
  margin: 0px 15px;
  text-align: center;
}
.toggle {
  text-align: center;
  z-index: 10;
  padding-top: 30px;

  div {
    display: inline-block;
    font-size: 2em;
    margin: 0px 10px;
    opacity: .7;
    transition: all 1s;
    p {
      font-size: 10px;
    }
    &.active, &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0) rotate(15deg) scale(.9); }
  25% {
    transform: translateY(-25px) rotate(0deg) scale(1); }
  75% {
    transform: translateY(25px) rotate(-15deg) scale(.95); }
  }

@keyframes float {
  0% {
    margin-left: 10%; }
  50% {
    margin-left: 90%; }
  100% {
    margin-left: 10%;
  }
}
@keyframes twinkle {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(2.5);
    opacity: 1;
  }

  20%, 100% {
    transform: scale(1);
  }
}
@keyframes breathing {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
@keyframes clouds {
  100% {
    margin-left: 100vw;
  }
}
@keyframes clouds2 {
  0% {
    margin-right: -100vw;
   }
  100% {
    margin-right: 100vw;
  }
}

@keyframes shift {
  0%, 50%, 100% {
    transform: translateY(0) scale(.95);}
  25% {
    transform: translateY(-10px) scale(1);}
  75% {
    transform: translateY(10px) scale(.9);}
  }
