@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans");
body {
  margin: 0px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase; }

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: relative; }
  .container h2 {
    margin-bottom: 50px;
    font-size: 18px; }

.night {
  background-image: linear-gradient(-25deg, #13344a 0%, #332858 100%);
  color: #ffffff; }
  .night span {
    background: #ffffff;
    position: absolute;
    border-radius: 50%; }
    .night span:nth-child(0) {
      width: 1px;
      height: 1px;
      top: 98vh;
      left: 80vw;
      opacity: 0.7;
      animation: twinkle 10s 24s infinite; }
    .night span:nth-child(1) {
      width: 2px;
      height: 2px;
      top: 55vh;
      left: 2vw;
      opacity: 0.7;
      animation: twinkle 10s 10s infinite; }
    .night span:nth-child(2) {
      width: 2px;
      height: 2px;
      top: 100vh;
      left: 95vw;
      opacity: 0.7;
      animation: twinkle 10s 10s infinite; }
    .night span:nth-child(3) {
      width: 2px;
      height: 2px;
      top: 67vh;
      left: 31vw;
      opacity: 0.9;
      animation: twinkle 10s 18s infinite; }
    .night span:nth-child(4) {
      width: 2px;
      height: 2px;
      top: 70vh;
      left: 12vw;
      opacity: 1;
      animation: twinkle 10s 13s infinite; }
    .night span:nth-child(5) {
      width: 1px;
      height: 1px;
      top: 62vh;
      left: 67vw;
      opacity: 0.9;
      animation: twinkle 10s 17s infinite; }
    .night span:nth-child(6) {
      width: 4px;
      height: 4px;
      top: 88vh;
      left: 5vw;
      opacity: 0.8;
      animation: twinkle 10s 28s infinite; }
    .night span:nth-child(7) {
      width: 4px;
      height: 4px;
      top: 9vh;
      left: 34vw;
      opacity: 0.8;
      animation: twinkle 10s 21s infinite; }
    .night span:nth-child(8) {
      width: 1px;
      height: 1px;
      top: 69vh;
      left: 58vw;
      opacity: 0.9;
      animation: twinkle 10s 11s infinite; }
    .night span:nth-child(9) {
      width: 4px;
      height: 4px;
      top: 70vh;
      left: 16vw;
      opacity: 0.7;
      animation: twinkle 10s 12s infinite; }
    .night span:nth-child(10) {
      width: 2px;
      height: 2px;
      top: 42vh;
      left: 38vw;
      opacity: 0.8;
      animation: twinkle 10s 2s infinite; }
    .night span:nth-child(11) {
      width: 4px;
      height: 4px;
      top: 4vh;
      left: 71vw;
      opacity: 0.7;
      animation: twinkle 10s 23s infinite; }
    .night span:nth-child(12) {
      width: 1px;
      height: 1px;
      top: 44vh;
      left: 4vw;
      opacity: 0.8;
      animation: twinkle 10s 7s infinite; }
    .night span:nth-child(13) {
      width: 4px;
      height: 4px;
      top: 17vh;
      left: 62vw;
      opacity: 0.9;
      animation: twinkle 10s 23s infinite; }
    .night span:nth-child(14) {
      width: 4px;
      height: 4px;
      top: 85vh;
      left: 71vw;
      opacity: 0.7;
      animation: twinkle 10s 29s infinite; }
    .night span:nth-child(15) {
      width: 4px;
      height: 4px;
      top: 77vh;
      left: 46vw;
      opacity: 1;
      animation: twinkle 10s 12s infinite; }
    .night span:nth-child(16) {
      width: 1px;
      height: 1px;
      top: 86vh;
      left: 45vw;
      opacity: 0.6;
      animation: twinkle 10s 18s infinite; }
    .night span:nth-child(17) {
      width: 1px;
      height: 1px;
      top: 22vh;
      left: 67vw;
      opacity: 0.8;
      animation: twinkle 10s 24s infinite; }
    .night span:nth-child(18) {
      width: 3px;
      height: 3px;
      top: 66vh;
      left: 73vw;
      opacity: 0.7;
      animation: twinkle 10s 26s infinite; }
    .night span:nth-child(19) {
      width: 4px;
      height: 4px;
      top: 75vh;
      left: 11vw;
      opacity: 0.8;
      animation: twinkle 10s 1s infinite; }
    .night span:nth-child(20) {
      width: 1px;
      height: 1px;
      top: 91vh;
      left: 80vw;
      opacity: 0.7;
      animation: twinkle 10s 3s infinite; }
    .night span:nth-child(21) {
      width: 1px;
      height: 1px;
      top: 100vh;
      left: 69vw;
      opacity: 0.6;
      animation: twinkle 10s 3s infinite; }
    .night span:nth-child(22) {
      width: 3px;
      height: 3px;
      top: 7vh;
      left: 100vw;
      opacity: 0.9;
      animation: twinkle 10s 17s infinite; }
    .night span:nth-child(23) {
      width: 3px;
      height: 3px;
      top: 65vh;
      left: 28vw;
      opacity: 0.6;
      animation: twinkle 10s 11s infinite; }
    .night span:nth-child(24) {
      width: 2px;
      height: 2px;
      top: 25vh;
      left: 26vw;
      opacity: 0.7;
      animation: twinkle 10s 27s infinite; }
    .night span:nth-child(25) {
      width: 1px;
      height: 1px;
      top: 88vh;
      left: 87vw;
      opacity: 0.7;
      animation: twinkle 10s 21s infinite; }
    .night span:nth-child(26) {
      width: 3px;
      height: 3px;
      top: 8vh;
      left: 9vw;
      opacity: 1;
      animation: twinkle 10s 24s infinite; }
    .night span:nth-child(27) {
      width: 3px;
      height: 3px;
      top: 91vh;
      left: 62vw;
      opacity: 1;
      animation: twinkle 10s 1s infinite; }
    .night span:nth-child(28) {
      width: 3px;
      height: 3px;
      top: 8vh;
      left: 92vw;
      opacity: 0.8;
      animation: twinkle 10s 30s infinite; }
    .night span:nth-child(29) {
      width: 1px;
      height: 1px;
      top: 58vh;
      left: 66vw;
      opacity: 0.6;
      animation: twinkle 10s 25s infinite; }
    .night span:nth-child(30) {
      width: 3px;
      height: 3px;
      top: 27vh;
      left: 3vw;
      opacity: 0.9;
      animation: twinkle 10s 21s infinite; }
    .night span:nth-child(31) {
      width: 2px;
      height: 2px;
      top: 48vh;
      left: 47vw;
      opacity: 1;
      animation: twinkle 10s 16s infinite; }
    .night span:nth-child(32) {
      width: 3px;
      height: 3px;
      top: 89vh;
      left: 97vw;
      opacity: 0.6;
      animation: twinkle 10s 28s infinite; }
    .night span:nth-child(33) {
      width: 1px;
      height: 1px;
      top: 20vh;
      left: 97vw;
      opacity: 0.9;
      animation: twinkle 10s 18s infinite; }
    .night span:nth-child(34) {
      width: 2px;
      height: 2px;
      top: 42vh;
      left: 64vw;
      opacity: 0.7;
      animation: twinkle 10s 19s infinite; }
    .night span:nth-child(35) {
      width: 4px;
      height: 4px;
      top: 50vh;
      left: 13vw;
      opacity: 0.7;
      animation: twinkle 10s 22s infinite; }
    .night span:nth-child(36) {
      width: 2px;
      height: 2px;
      top: 54vh;
      left: 84vw;
      opacity: 0.6;
      animation: twinkle 10s 11s infinite; }
    .night span:nth-child(37) {
      width: 1px;
      height: 1px;
      top: 85vh;
      left: 100vw;
      opacity: 0.6;
      animation: twinkle 10s 13s infinite; }
    .night span:nth-child(38) {
      width: 1px;
      height: 1px;
      top: 62vh;
      left: 27vw;
      opacity: 0.8;
      animation: twinkle 10s 28s infinite; }
    .night span:nth-child(39) {
      width: 1px;
      height: 1px;
      top: 14vh;
      left: 25vw;
      opacity: 0.8;
      animation: twinkle 10s 3s infinite; }
    .night span:nth-child(40) {
      width: 1px;
      height: 1px;
      top: 79vh;
      left: 1vw;
      opacity: 0.8;
      animation: twinkle 10s 16s infinite; }
    .night span:nth-child(41) {
      width: 4px;
      height: 4px;
      top: 16vh;
      left: 12vw;
      opacity: 0.8;
      animation: twinkle 10s 10s infinite; }
    .night span:nth-child(42) {
      width: 3px;
      height: 3px;
      top: 41vh;
      left: 74vw;
      opacity: 1;
      animation: twinkle 10s 6s infinite; }
    .night span:nth-child(43) {
      width: 1px;
      height: 1px;
      top: 53vh;
      left: 87vw;
      opacity: 0.7;
      animation: twinkle 10s 2s infinite; }
    .night span:nth-child(44) {
      width: 3px;
      height: 3px;
      top: 9vh;
      left: 40vw;
      opacity: 0.9;
      animation: twinkle 10s 14s infinite; }
    .night span:nth-child(45) {
      width: 4px;
      height: 4px;
      top: 71vh;
      left: 7vw;
      opacity: 0.7;
      animation: twinkle 10s 9s infinite; }
    .night span:nth-child(46) {
      width: 4px;
      height: 4px;
      top: 39vh;
      left: 4vw;
      opacity: 0.9;
      animation: twinkle 10s 16s infinite; }
    .night span:nth-child(47) {
      width: 4px;
      height: 4px;
      top: 38vh;
      left: 39vw;
      opacity: 0.7;
      animation: twinkle 10s 21s infinite; }
    .night span:nth-child(48) {
      width: 4px;
      height: 4px;
      top: 52vh;
      left: 45vw;
      opacity: 0.9;
      animation: twinkle 10s 15s infinite; }
    .night span:nth-child(49) {
      width: 3px;
      height: 3px;
      top: 81vh;
      left: 7vw;
      opacity: 0.6;
      animation: twinkle 10s 11s infinite; }
    .night span:nth-child(50) {
      width: 2px;
      height: 2px;
      top: 80vh;
      left: 85vw;
      opacity: 0.6;
      animation: twinkle 10s 15s infinite; }
    .night span:nth-child(51) {
      width: 3px;
      height: 3px;
      top: 17vh;
      left: 27vw;
      opacity: 1;
      animation: twinkle 10s 3s infinite; }
    .night span:nth-child(52) {
      width: 2px;
      height: 2px;
      top: 10vh;
      left: 6vw;
      opacity: 0.6;
      animation: twinkle 10s 25s infinite; }
    .night span:nth-child(53) {
      width: 4px;
      height: 4px;
      top: 97vh;
      left: 36vw;
      opacity: 0.9;
      animation: twinkle 10s 3s infinite; }
    .night span:nth-child(54) {
      width: 4px;
      height: 4px;
      top: 90vh;
      left: 42vw;
      opacity: 0.9;
      animation: twinkle 10s 19s infinite; }
    .night span:nth-child(55) {
      width: 2px;
      height: 2px;
      top: 7vh;
      left: 47vw;
      opacity: 0.7;
      animation: twinkle 10s 17s infinite; }
    .night span:nth-child(56) {
      width: 1px;
      height: 1px;
      top: 91vh;
      left: 18vw;
      opacity: 0.8;
      animation: twinkle 10s 30s infinite; }
    .night span:nth-child(57) {
      width: 3px;
      height: 3px;
      top: 20vh;
      left: 49vw;
      opacity: 0.8;
      animation: twinkle 10s 1s infinite; }
    .night span:nth-child(58) {
      width: 2px;
      height: 2px;
      top: 85vh;
      left: 50vw;
      opacity: 0.8;
      animation: twinkle 10s 1s infinite; }
    .night span:nth-child(59) {
      width: 2px;
      height: 2px;
      top: 84vh;
      left: 48vw;
      opacity: 0.6;
      animation: twinkle 10s 7s infinite; }
    .night span:nth-child(60) {
      width: 2px;
      height: 2px;
      top: 16vh;
      left: 79vw;
      opacity: 0.8;
      animation: twinkle 10s 28s infinite; }
    .night span:nth-child(61) {
      width: 3px;
      height: 3px;
      top: 38vh;
      left: 15vw;
      opacity: 1;
      animation: twinkle 10s 13s infinite; }
    .night span:nth-child(62) {
      width: 4px;
      height: 4px;
      top: 46vh;
      left: 17vw;
      opacity: 0.6;
      animation: twinkle 10s 23s infinite; }
    .night span:nth-child(63) {
      width: 1px;
      height: 1px;
      top: 47vh;
      left: 5vw;
      opacity: 1;
      animation: twinkle 10s 6s infinite; }
    .night span:nth-child(64) {
      width: 2px;
      height: 2px;
      top: 91vh;
      left: 36vw;
      opacity: 1;
      animation: twinkle 10s 26s infinite; }
    .night span:nth-child(65) {
      width: 4px;
      height: 4px;
      top: 8vh;
      left: 37vw;
      opacity: 0.6;
      animation: twinkle 10s 22s infinite; }
    .night span:nth-child(66) {
      width: 3px;
      height: 3px;
      top: 52vh;
      left: 65vw;
      opacity: 1;
      animation: twinkle 10s 19s infinite; }
    .night span:nth-child(67) {
      width: 4px;
      height: 4px;
      top: 22vh;
      left: 65vw;
      opacity: 1;
      animation: twinkle 10s 17s infinite; }
    .night span:nth-child(68) {
      width: 2px;
      height: 2px;
      top: 26vh;
      left: 28vw;
      opacity: 0.9;
      animation: twinkle 10s 18s infinite; }
    .night span:nth-child(69) {
      width: 4px;
      height: 4px;
      top: 92vh;
      left: 12vw;
      opacity: 0.7;
      animation: twinkle 10s 15s infinite; }
    .night span:nth-child(70) {
      width: 2px;
      height: 2px;
      top: 100vh;
      left: 31vw;
      opacity: 0.7;
      animation: twinkle 10s 2s infinite; }
    .night span:nth-child(71) {
      width: 4px;
      height: 4px;
      top: 22vh;
      left: 53vw;
      opacity: 1;
      animation: twinkle 10s 29s infinite; }
    .night span:nth-child(72) {
      width: 4px;
      height: 4px;
      top: 18vh;
      left: 69vw;
      opacity: 0.8;
      animation: twinkle 10s 4s infinite; }
    .night span:nth-child(73) {
      width: 3px;
      height: 3px;
      top: 12vh;
      left: 13vw;
      opacity: 1;
      animation: twinkle 10s 24s infinite; }
    .night span:nth-child(74) {
      width: 1px;
      height: 1px;
      top: 87vh;
      left: 73vw;
      opacity: 0.7;
      animation: twinkle 10s 20s infinite; }
    .night span:nth-child(75) {
      width: 4px;
      height: 4px;
      top: 49vh;
      left: 1vw;
      opacity: 0.9;
      animation: twinkle 10s 25s infinite; }
    .night span:nth-child(76) {
      width: 4px;
      height: 4px;
      top: 38vh;
      left: 92vw;
      opacity: 0.6;
      animation: twinkle 10s 26s infinite; }
    .night span:nth-child(77) {
      width: 1px;
      height: 1px;
      top: 92vh;
      left: 8vw;
      opacity: 0.7;
      animation: twinkle 10s 7s infinite; }
    .night span:nth-child(78) {
      width: 2px;
      height: 2px;
      top: 69vh;
      left: 47vw;
      opacity: 0.6;
      animation: twinkle 10s 9s infinite; }
    .night span:nth-child(79) {
      width: 1px;
      height: 1px;
      top: 28vh;
      left: 85vw;
      opacity: 0.7;
      animation: twinkle 10s 22s infinite; }
    .night span:nth-child(80) {
      width: 3px;
      height: 3px;
      top: 65vh;
      left: 35vw;
      opacity: 1;
      animation: twinkle 10s 16s infinite; }
    .night span:nth-child(81) {
      width: 4px;
      height: 4px;
      top: 50vh;
      left: 32vw;
      opacity: 1;
      animation: twinkle 10s 9s infinite; }
    .night span:nth-child(82) {
      width: 1px;
      height: 1px;
      top: 8vh;
      left: 95vw;
      opacity: 0.9;
      animation: twinkle 10s 8s infinite; }
    .night span:nth-child(83) {
      width: 4px;
      height: 4px;
      top: 98vh;
      left: 50vw;
      opacity: 1;
      animation: twinkle 10s 11s infinite; }
    .night span:nth-child(84) {
      width: 3px;
      height: 3px;
      top: 65vh;
      left: 69vw;
      opacity: 0.7;
      animation: twinkle 10s 15s infinite; }
    .night span:nth-child(85) {
      width: 3px;
      height: 3px;
      top: 61vh;
      left: 75vw;
      opacity: 0.8;
      animation: twinkle 10s 20s infinite; }
    .night span:nth-child(86) {
      width: 4px;
      height: 4px;
      top: 33vh;
      left: 21vw;
      opacity: 0.6;
      animation: twinkle 10s 15s infinite; }
    .night span:nth-child(87) {
      width: 2px;
      height: 2px;
      top: 70vh;
      left: 29vw;
      opacity: 0.8;
      animation: twinkle 10s 18s infinite; }
    .night span:nth-child(88) {
      width: 1px;
      height: 1px;
      top: 57vh;
      left: 29vw;
      opacity: 0.8;
      animation: twinkle 10s 6s infinite; }
    .night span:nth-child(89) {
      width: 2px;
      height: 2px;
      top: 70vh;
      left: 54vw;
      opacity: 1;
      animation: twinkle 10s 2s infinite; }
    .night span:nth-child(90) {
      width: 1px;
      height: 1px;
      top: 50vh;
      left: 58vw;
      opacity: 0.9;
      animation: twinkle 10s 18s infinite; }
    .night span:nth-child(91) {
      width: 1px;
      height: 1px;
      top: 52vh;
      left: 73vw;
      opacity: 0.7;
      animation: twinkle 10s 10s infinite; }
    .night span:nth-child(92) {
      width: 2px;
      height: 2px;
      top: 35vh;
      left: 17vw;
      opacity: 0.9;
      animation: twinkle 10s 7s infinite; }
    .night span:nth-child(93) {
      width: 3px;
      height: 3px;
      top: 7vh;
      left: 8vw;
      opacity: 0.8;
      animation: twinkle 10s 8s infinite; }
    .night span:nth-child(94) {
      width: 4px;
      height: 4px;
      top: 47vh;
      left: 100vw;
      opacity: 0.7;
      animation: twinkle 10s 19s infinite; }
    .night span:nth-child(95) {
      width: 4px;
      height: 4px;
      top: 54vh;
      left: 89vw;
      opacity: 0.7;
      animation: twinkle 10s 25s infinite; }
    .night span:nth-child(96) {
      width: 3px;
      height: 3px;
      top: 84vh;
      left: 14vw;
      opacity: 0.7;
      animation: twinkle 10s 27s infinite; }
    .night span:nth-child(97) {
      width: 3px;
      height: 3px;
      top: 48vh;
      left: 47vw;
      opacity: 0.9;
      animation: twinkle 10s 25s infinite; }
    .night span:nth-child(98) {
      width: 1px;
      height: 1px;
      top: 50vh;
      left: 87vw;
      opacity: 1;
      animation: twinkle 10s 22s infinite; }
    .night span:nth-child(99) {
      width: 1px;
      height: 1px;
      top: 70vh;
      left: 87vw;
      opacity: 0.7;
      animation: twinkle 10s 1s infinite; }
    .night span:nth-child(100) {
      width: 3px;
      height: 3px;
      top: 99vh;
      left: 49vw;
      opacity: 0.6;
      animation: twinkle 10s 12s infinite; }

.day {
  background-image: linear-gradient(-25deg, #d5e7f0 0%, #91cdea 100%);
  color: #38596a; }
  .day .breathe {
    border: 5px solid #b0d8ec;
    background: rgba(221, 238, 247, 0.5);
    color: #38596a; }

.breathe {
  width: 35vh;
  height: 35vh;
  padding: 20px;
  border: 5px solid #1f2b4d;
  animation: breathing 10s ease-out infinite normal;
  font-size: 24px;
  background: rgba(46, 65, 118, 0.3);
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  border-radius: 1000px;
  text-align: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .breathe h3 {
    font-family: "Amatic SC", cursive;
    font-size: 2em; }

.cloud {
  position: absolute; }
  .cloud:nth-child(0) {
    opacity: .3;
    transform: scale(1.06667);
    animation: float 120s 3s infinite;
    margin-left: 10%; }
    .cloud:nth-child(0) img {
      width: 63vw;
      animation: shift 12s infinite; }
  .cloud.cloud-even:nth-child(0) {
    transform: scale(1.26667) rotateY(180deg);
    top: 61%;
    left: 38%; }
  .cloud.cloud-odd:nth-child(0) {
    bottom: 74%;
    right: 94%; }
  .cloud:nth-child(1) {
    opacity: .3;
    transform: scale(1.3);
    animation: float 180s 28s infinite;
    margin-left: 10%; }
    .cloud:nth-child(1) img {
      width: 64vw;
      animation: shift 12s infinite; }
  .cloud.cloud-even:nth-child(1) {
    transform: scale(1.13333) rotateY(180deg);
    top: 69%;
    left: 53%; }
  .cloud.cloud-odd:nth-child(1) {
    bottom: 41%;
    right: 11%; }
  .cloud:nth-child(2) {
    opacity: .3;
    transform: scale(1.16667);
    animation: float 180s 7s infinite;
    margin-left: 10%; }
    .cloud:nth-child(2) img {
      width: 63vw;
      animation: shift 17s infinite; }
  .cloud.cloud-even:nth-child(2) {
    transform: scale(1.1) rotateY(180deg);
    top: 47%;
    left: 18%; }
  .cloud.cloud-odd:nth-child(2) {
    bottom: 81%;
    right: 72%; }
  .cloud:nth-child(3) {
    opacity: .3;
    transform: scale(1.1);
    animation: float 120s 21s infinite;
    margin-left: 10%; }
    .cloud:nth-child(3) img {
      width: 65vw;
      animation: shift 12s infinite; }
  .cloud.cloud-even:nth-child(3) {
    transform: scale(1.13333) rotateY(180deg);
    top: 22%;
    left: 65%; }
  .cloud.cloud-odd:nth-child(3) {
    bottom: 30%;
    right: 23%; }
  .cloud:nth-child(4) {
    opacity: .3;
    transform: scale(1.26667);
    animation: float 120s 11s infinite;
    margin-left: 10%; }
    .cloud:nth-child(4) img {
      width: 65vw;
      animation: shift 11s infinite; }
  .cloud.cloud-even:nth-child(4) {
    transform: scale(1.3) rotateY(180deg);
    top: 26%;
    left: 49%; }
  .cloud.cloud-odd:nth-child(4) {
    bottom: 42%;
    right: 87%; }
  .cloud:nth-child(5) {
    opacity: .3;
    transform: scale(1.03333);
    animation: float 120s 8s infinite;
    margin-left: 10%; }
    .cloud:nth-child(5) img {
      width: 53vw;
      animation: shift 19s infinite; }
  .cloud.cloud-even:nth-child(5) {
    transform: scale(1.06667) rotateY(180deg);
    top: 35%;
    left: 95%; }
  .cloud.cloud-odd:nth-child(5) {
    bottom: 61%;
    right: 37%; }
  .cloud:nth-child(6) {
    opacity: .3;
    transform: scale(1.13333);
    animation: float 180s 20s infinite;
    margin-left: 10%; }
    .cloud:nth-child(6) img {
      width: 53vw;
      animation: shift 14s infinite; }
  .cloud.cloud-even:nth-child(6) {
    transform: scale(1.3) rotateY(180deg);
    top: 11%;
    left: 3%; }
  .cloud.cloud-odd:nth-child(6) {
    bottom: 76%;
    right: 11%; }
  .cloud:nth-child(7) {
    opacity: .3;
    transform: scale(1.23333);
    animation: float 180s 10s infinite;
    margin-left: 10%; }
    .cloud:nth-child(7) img {
      width: 56vw;
      animation: shift 17s infinite; }
  .cloud.cloud-even:nth-child(7) {
    transform: scale(1.06667) rotateY(180deg);
    top: 61%;
    left: 1%; }
  .cloud.cloud-odd:nth-child(7) {
    bottom: 58%;
    right: 11%; }
  .cloud:nth-child(8) {
    opacity: .3;
    transform: scale(1.23333);
    animation: float 180s 27s infinite;
    margin-left: 10%; }
    .cloud:nth-child(8) img {
      width: 53vw;
      animation: shift 16s infinite; }
  .cloud.cloud-even:nth-child(8) {
    transform: scale(1.23333) rotateY(180deg);
    top: 60%;
    left: 49%; }
  .cloud.cloud-odd:nth-child(8) {
    bottom: 87%;
    right: 89%; }
  .cloud:nth-child(9) {
    opacity: .3;
    transform: scale(1.23333);
    animation: float 120s 4s infinite;
    margin-left: 10%; }
    .cloud:nth-child(9) img {
      width: 65vw;
      animation: shift 12s infinite; }
  .cloud.cloud-even:nth-child(9) {
    transform: scale(1.33333) rotateY(180deg);
    top: 7%;
    left: 42%; }
  .cloud.cloud-odd:nth-child(9) {
    bottom: 46%;
    right: 62%; }
  .cloud:nth-child(10) {
    opacity: .3;
    transform: scale(1.13333);
    animation: float 60s 24s infinite;
    margin-left: 10%; }
    .cloud:nth-child(10) img {
      width: 57vw;
      animation: shift 13s infinite; }
  .cloud.cloud-even:nth-child(10) {
    transform: scale(1.26667) rotateY(180deg);
    top: 49%;
    left: 79%; }
  .cloud.cloud-odd:nth-child(10) {
    bottom: 94%;
    right: 21%; }
  .cloud:nth-child(11) {
    opacity: .3;
    transform: scale(1.26667);
    animation: float 60s 12s infinite;
    margin-left: 10%; }
    .cloud:nth-child(11) img {
      width: 65vw;
      animation: shift 17s infinite; }
  .cloud.cloud-even:nth-child(11) {
    transform: scale(1.23333) rotateY(180deg);
    top: 10%;
    left: 40%; }
  .cloud.cloud-odd:nth-child(11) {
    bottom: 22%;
    right: 51%; }
  .cloud:nth-child(12) {
    opacity: .3;
    transform: scale(1.03333);
    animation: float 120s 14s infinite;
    margin-left: 10%; }
    .cloud:nth-child(12) img {
      width: 53vw;
      animation: shift 20s infinite; }
  .cloud.cloud-even:nth-child(12) {
    transform: scale(1.33333) rotateY(180deg);
    top: 20%;
    left: 9%; }
  .cloud.cloud-odd:nth-child(12) {
    bottom: 91%;
    right: 65%; }
  .cloud:nth-child(13) {
    opacity: .3;
    transform: scale(1.26667);
    animation: float 60s 22s infinite;
    margin-left: 10%; }
    .cloud:nth-child(13) img {
      width: 64vw;
      animation: shift 17s infinite; }
  .cloud.cloud-even:nth-child(13) {
    transform: scale(1.23333) rotateY(180deg);
    top: 52%;
    left: 86%; }
  .cloud.cloud-odd:nth-child(13) {
    bottom: 53%;
    right: 82%; }
  .cloud:nth-child(14) {
    opacity: .3;
    transform: scale(1.23333);
    animation: float 180s 17s infinite;
    margin-left: 10%; }
    .cloud:nth-child(14) img {
      width: 65vw;
      animation: shift 13s infinite; }
  .cloud.cloud-even:nth-child(14) {
    transform: scale(1.1) rotateY(180deg);
    top: 91%;
    left: 94%; }
  .cloud.cloud-odd:nth-child(14) {
    bottom: 31%;
    right: 13%; }
  .cloud:nth-child(15) {
    opacity: .3;
    transform: scale(1.26667);
    animation: float 180s 10s infinite;
    margin-left: 10%; }
    .cloud:nth-child(15) img {
      width: 62vw;
      animation: shift 13s infinite; }
  .cloud.cloud-even:nth-child(15) {
    transform: scale(1.3) rotateY(180deg);
    top: 69%;
    left: 56%; }
  .cloud.cloud-odd:nth-child(15) {
    bottom: 52%;
    right: 75%; }
  .cloud:nth-child(16) {
    opacity: .3;
    transform: scale(1.3);
    animation: float 60s 25s infinite;
    margin-left: 10%; }
    .cloud:nth-child(16) img {
      width: 65vw;
      animation: shift 13s infinite; }
  .cloud.cloud-even:nth-child(16) {
    transform: scale(1.06667) rotateY(180deg);
    top: 37%;
    left: 32%; }
  .cloud.cloud-odd:nth-child(16) {
    bottom: 66%;
    right: 46%; }

.floater {
  position: absolute;
  bottom: 25px;
  left: 0px;
  margin-bottom: 2%;
  animation: float 120s infinite; }
  .floater img {
    width: 60px;
    animation: bounce 3s infinite; }

.day .astronaut {
  display: none; }

.night .butterfly, .night .clouds {
  display: none; }

.quote {
  z-index: 10;
  margin: 0px 15px;
  text-align: center; }

.toggle {
  text-align: center;
  z-index: 10;
  padding-top: 30px; }
  .toggle div {
    display: inline-block;
    font-size: 2em;
    margin: 0px 10px;
    opacity: .7;
    transition: all 1s; }
    .toggle div p {
      font-size: 10px; }
    .toggle div.active, .toggle div:hover {
      opacity: 1;
      cursor: pointer; }

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0) rotate(15deg) scale(0.9); }
  25% {
    transform: translateY(-25px) rotate(0deg) scale(1); }
  75% {
    transform: translateY(25px) rotate(-15deg) scale(0.95); } }
@keyframes float {
  0% {
    margin-left: 10%; }
  50% {
    margin-left: 90%; }
  100% {
    margin-left: 10%; } }
@keyframes twinkle {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(2.5);
    opacity: 1; }
  20%, 100% {
    transform: scale(1); } }
@keyframes breathing {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
@keyframes clouds {
  100% {
    margin-left: 100vw; } }
@keyframes clouds2 {
  0% {
    margin-right: -100vw; }
  100% {
    margin-right: 100vw; } }
@keyframes shift {
  0%, 50%, 100% {
    transform: translateY(0) scale(0.95); }
  25% {
    transform: translateY(-10px) scale(1); }
  75% {
    transform: translateY(10px) scale(0.9); } }

/*# sourceMappingURL=breathe.css.map */
